<div class="modal-header">
    <div aria-label="Close" class="close" ng-click="close();" type="button">
        <span aria-hidden="true">&times;</span>
    </div>
    <h3 class="modal-title underline-style-section-header" id="myModalLabel">Request payout
        <div></div>
    </h3>
</div>
<div class="modal-body modal-request-payout">
    <div class="criteria-container">
        <div class="criteria-box">
            <img class="badge-line" src="/images/sp-landing/gold_badge.png" alt=""/>
            <h3>Gold</h3>
            <p>
                Request advance payout up to 30%<br/>
                <b>Criteria</b><br/>
                Complete first 3 deals or N30,000
            </p>
        </div>
        <div class="criteria-box">
            <img class="badge-line" src="/images/sp-landing/platinum_badge.png" alt=""/>
            <h3>Platinum</h3>
            <p>
                Request advance payout up to 50%<br/>
                <b>Criteria</b><br/>
                Complete first 10 deals or N100,000
            </p>
        </div>
        <div class="criteria-box">
            <img class="badge-line" src="/images/sp-landing/diamond_badge.png" alt=""/>
            <h3>Diamond</h3>
            <p>
                Request advance payout up to 70%<br/>
                <b>Criteria</b><br/>
                Complete 30 deals or 300,000
            </p>
        </div>
    </div>
    <label>Goly team will review your request and make a payout decision based on the criteria above</label>
</div>
<div class="modal-footer">
    <button class="modal-btn-full" ng-click="sendRequest()" type="button">
        SEND REQUEST
    </button>
</div>
