<div class="modal-header">
    <div aria-label="Close" class="close" ng-click="close();" type="button">
        <span aria-hidden="true">&times;</span>
    </div>
    <h3 class="modal-title underline-style-section-header" id="myModalLabel">Change password
        <div></div>
    </h3>
</div>
<div class="modal-body">

    <div class="form-input">
        <label>Current password</label>
        <input name="name" ng-model="oldPassword" placeholder="Enter your current password" type="password">
    </div>
    <div class="form-input">
        <label>New Password</label>
        <input name="name" ng-model="newPassword" placeholder="Minimum 6 characters" type="password">
    </div>
    <div class="form-input">
        <label>Re-enter new password</label>
        <input name="name" ng-model="reEnterNewPassword" placeholder="Type new password again" type="password">
    </div>

</div>
<div class="modal-footer">
    <button class="modal-btn-full" name="button" ng-click="changePassword()"
            ng-disabled="!oldPassword || !newPassword || newPassword != reEnterNewPassword" type="button">Change
    </button>
</div>
