<div class="modal-header">
    <div type="button" class="close" ng-click="close()" data-dismiss="modal"
         aria-label="Close"><span
            aria-hidden="true">&times;</span></div>
    <h3 class="modal-title underline-style-section-header">Send photo
        <div></div>
    </h3>
</div>
<div class="modal-body">
    <form name="photoForm" ng-submit="submit();">
        <button ng-hide="$parent.photo" class="modal-btn-full" href=""
                type="file" ngf-fix-orientation="true"
                accept="image/*" ngf-max-size="10MB"
                ngf-select="$parent.photo = $file;">
            Upload photo
        </button>

        <div class="form-input" ng-show="$parent.photo">
            <label>Title</label>
            <input placeholder="Image title..." type="text" maxlength="50"
                   ng-model="$parent.imageTitle" required
                   name="Title">

            <img ng-show="photoForm.file.$valid"
                 ngf-thumbnail="$parent.photo"
                 class="thumb">

            <div class="modal-footer">
                <button class="modal-btn-half" type="file" accept="image/*" ngf-max-size="10MB"
                        ngf-fix-orientation="true" ngf-select="$parent.photo = $file;">
                    Change photo
                </button>
                <button class="modal-btn-half" name="button" type="submit">Send
                </button>
            </div>
        </div>
    </form>
</div>