<div class="modal-header">
    <div type="button" class="close" ng-click="close()" data-dismiss="modal"
         aria-label="Close"><span
            aria-hidden="true">&times;</span></div>
    <h3 class="modal-title underline-style-section-header">Send message
        <div></div>
    </h3>
</div>
<div class="modal-body">
    <form ng-submit="submit();">
        <label>Message</label>
        <div class="add-service-info-wrap">
            <textarea cols="40" ng-model="$parent.message" name="message"
                      required ng-show="!firstMessage"
                      placeholder="Type message" rows="8"></textarea>
            <textarea cols="40" ng-model="$parent.message" name="message"
                      required ng-show="firstMessage"
                      placeholder="Tell us more about your need" rows="8"></textarea>
        </div>
        <div class="modal-footer">
            <button class="modal-btn-full" name="button"
                    type="submit">Send
            </button>
        </div>
    </form>
</div>