<div class="app-page">
    <div class="provider-landing">
        <header main-nav hide-search-bar="true" class="fixed-nav"></header>
        <div class="sp-banner-section">
            <h1>All you need to run a successful events business</h1>
            <h3>Earn more money, grow your business</h3>
            <a href="/signup/register-user">
                <button>Get started</button>
            </a>
            <a href="/plus" class="sub-link" ng-if="signupLink">Achieve even more with Goly <i>Plus</i></a>
        </div>
        <div class="vp-section">
            <div class="sp-value-prop">
                <h3>Get started for free</h3>
                <div></div>
                <p>
                    Create your shop and list services for free. We only charge for payment processing when you sell.
                </p>
            </div>
            <div class="sp-value-prop">
                <h3>Customers from anywhere</h3>
                <div></div>
                <p>
                    Let customers book and meet you in your city or conclude business online anywhere in the country.
                </p>
            </div>
            <div class="sp-value-prop">
                <h3>You are in charge</h3>
                <div></div>
                <p>
                    Control all the terms of your service including cancellation policies and other terms. It’s your
                    business.
                </p>
            </div>
        </div>
        <div class="sp-steps-section">
            <div class="sp-step-wrap sp-step-wrap-1">
                <div class="sp-step-image-side">
                    <img src="/images/sp_step_1.png" alt=""/>
                </div>
                <div class="sp-step-circle">

                </div>
                <div class="sp-step-text-side">
                    <h1>Setup your shop</h1>
                    <p>
                        Easy setup, multiple services and beautiful layout of your profile
                    </p>
                    <img class="feature-image-mobile" src="/images/sp_step_1.png" alt=""/>
                    <div class="sp-step-features-wrap">
                        <div class="sp-step-feature">
                            <div class="sp-feature-image">
                                <img src="/images/sp-landing/shop_icon.png" alt=""/>
                            </div>
                            <div class="sp-feature-text">
                                <h3>Setup shop</h3>
                                <p>
                                    Set up your shop within minutes as an individual or a company.
                                </p>
                            </div>
                        </div>
                        <div class="sp-step-feature">
                            <div class="sp-feature-image">
                                <img src="/images/sp-landing/add_icon.png" alt=""/>
                            </div>
                            <div class="sp-feature-text">
                                <h3>Add services</h3>
                                <p>
                                    Do you offer a variety of event services? Goly lets you easily add multiple services
                                    to your shop
                                </p>
                            </div>
                        </div>
                        <div class="sp-step-feature">
                            <div class="sp-feature-image">
                                <img src="/images/sp-landing/work_samples_icon.png" alt=""/>
                            </div>
                            <div class="sp-feature-text">
                                <h3>Upload work samples</h3>
                                <p>
                                    Inspire customers by uploading beautiful work samples as images to Goly.
                                </p>
                            </div>
                        </div>
                        <div class="sp-step-feature">
                            <div class="sp-feature-image">
                                <img src="/images/sp-landing/verified_icon.png" alt=""/>
                            </div>
                            <div class="sp-feature-text">
                                <h3>Get verified</h3>
                                <p>
                                    Get verified within 15 minutes and start selling. It’s a new beginning for your
                                    business :)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sp-step-wrap sp-step-wrap-2">
                <div class="sp-step-image-side">
                    <img src="/images/sp_step_2.png" alt=""/>
                </div>
                <div class="sp-step-circle">

                </div>
                <div class="sp-step-text-side">
                    <h1>Start selling</h1>
                    <p>
                        Delight customers with Goly’s order processing system and never miss new opportunities again.
                    </p>
                    <img class="feature-image-mobile" src="/images/sp_step_2.png" alt=""/>
                    <div class="sp-step-features-wrap">
                        <div class="sp-step-feature">
                            <div class="sp-feature-image">
                                <img src="/images/sp-landing/project_in_icon.png" alt=""/>
                            </div>
                            <div class="sp-feature-text">
                                <h3>Receive new requests</h3>
                                <p>
                                    Start receiving new customer orders on your desktop, mobile, anywhere, anytime.
                                </p>
                            </div>
                        </div>
                        <div class="sp-step-feature">
                            <div class="sp-feature-image">
                                <img src="/images/sp-landing/tag_icon.png" alt=""/>
                            </div>
                            <div class="sp-feature-text">
                                <h3>Make proposals</h3>
                                <p>
                                    Send winning offers to customers based on their requirements. Attach photos to show
                                    what’s possible.
                                </p>
                            </div>
                        </div>
                        <div class="sp-step-feature">
                            <div class="sp-feature-image">
                                <img src="/images/sp-landing/chat_icon.png" alt=""/>
                            </div>
                            <div class="sp-feature-text">
                                <h3>Bargain and stay in touch</h3>
                                <p>
                                    Negotiate with clients from a single place and keep them updated with work progress
                                    through chats.
                                </p>
                            </div>
                        </div>
                        <div class="sp-step-feature">
                            <div class="sp-feature-image">
                                <img src="/images/sp-landing/money_icon.png" alt=""/>
                            </div>
                            <div class="sp-feature-text">
                                <h3>Get paid</h3>
                                <p>
                                    Let us handle your payment processing, making it easier for buyers to pay anyway
                                    they choose from wallet solutions to ATM/credit card.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sp-step-wrap sp-step-wrap-3">
                <div class="sp-step-image-side">
                    <img src="/images/sp_step_3.png" alt=""/>
                </div>
                <div class="sp-step-circle">

                </div>
                <div class="sp-step-text-side">
                    <h1>Smart tools to grow your business</h1>
                    <p>
                        Stay on top of your business with performance insights and productivity tools.
                    </p>
                    <img class="feature-image-mobile" src="/images/sp_step_3.png" alt=""/>
                    <div class="sp-step-features-wrap">
                        <div class="sp-step-feature">
                            <div class="sp-feature-image">
                                <img src="/images/sp-landing/send_invoice_icon.png" alt=""/>
                            </div>
                            <div class="sp-feature-text">
                                <h3>Send invoices</h3>
                                <p>
                                    Goly automatically sends professional looking receipts to your customers. We even
                                    make it available for businesses you do outside Goly
                                </p>
                            </div>
                        </div>
                        <div class="sp-step-feature">
                            <div class="sp-feature-image">
                                <img src="/images/sp-landing/noti_icon.png" alt=""/>
                            </div>
                            <div class="sp-feature-text">
                                <h3>Smart alerts & reminders</h3>
                                <p>
                                    In remote areas? No problem, we ‘ve got you covered. Setup and receive real-time
                                    alerts via emails, SMS and push notifications.
                                </p>
                            </div>
                        </div>
                        <div class="sp-step-feature">
                            <div class="sp-feature-image">
                                <img src="/images/sp-landing/trend_icon.png" alt=""/>
                            </div>
                            <div class="sp-feature-text">
                                <h3>Get insights</h3>
                                <p>
                                    Get smarter with business analytics, providing you insights to how much you make,
                                    when and which of your service is doing well
                                </p>
                            </div>
                        </div>
                        <div class="sp-step-feature">
                            <div class="sp-feature-image">
                                <img src="/images/sp-landing/question_icon.png" alt=""/>
                            </div>
                            <div class="sp-feature-text">
                                <h3>What should we build?</h3>
                                <p>
                                    Tell us other tools we could build to help you grow your business
                                </p>
                                <a href="mailto:support@goly.co">Let us know</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="sp-account-type">
            <div class="sp-account-table">
                <div class="sp-account-column">
                    <a class="button" ng-href="{{signupLink}}" ng-if="signupLink">
                        Get started for free
                    </a>
                    <a class="button" href="/plus" ng-if="!signupLink">
                        Learn more about Plus
                    </a>
                    <a href="/plus" class="sub-link" ng-if="signupLink">Achieve even more with Goly <i>Plus</i></a>
                </div>
            </div>
        </div>

        <div class="sp-badge-section" ng-if="country == 'NG'">
            <img class="badge-line" src="/images/sp-landing/badge_line.png" alt=""/>
            <div class="badge-header-top-text">
                <h1>Get rewarded as you grow</h1>
            </div>
            <div class="sp-badge-wrap sp-badge-silver">
                <img class="badge-line" src="/images/sp-landing/silver_badge.png" alt=""/>
                <h3>Silver</h3>
                <p>
                    Get Goly Verified Badge
                    <b>Criteria</b>
                    Complete Service Provider verification
                </p>
                <div class="badge-arrow">

                </div>
            </div>

            <div class="sp-badge-wrap sp-badge-gold">
                <img class="badge-line" src="/images/sp-landing/gold_badge.png" alt=""/>
                <h3>Gold</h3>
                <p>
                    Request advance payout up to 30%
                    <b>Criteria</b>
                    Complete first 3 deals or N30,000
                </p>
                <div class="badge-arrow">

                </div>
            </div>
            <div class="sp-badge-wrap sp-badge-platinum">
                <img class="badge-line" src="/images/sp-landing/platinum_badge.png" alt=""/>
                <h3>Platinum</h3>
                <p>
                    Request advance payout up to 50%
                    <b>Criteria</b>
                    Complete first 10 deals or N100,000
                </p>
                <div class="badge-arrow">

                </div>
            </div>
            <div class="sp-badge-wrap sp-badge-diamond">
                <img class="badge-line" src="/images/sp-landing/diamond_badge.png" alt=""/>
                <h3>Diamond</h3>
                <p>
                    Request advance payout up to 70%
                    <b>Criteria</b>
                    Complete 30 deals or 300,000
                </p>
                <div class="badge-arrow">

                </div>
            </div>
            <div class="sp-landing-badge-footer">
                <b>Fees Now at 50% discount</b><br/>
                For early sellers on Goly, we charge a 5% service fee. Payment for completed services are deposited
                every Thursday. You can request advance payout after cancellation period related to an order has passed.
                See above for criteria.
            </div>
        </div>

        <div class="sp-blog-section">
            <h1>Top grade knowledge to grow your business</h1>
            <div class="latest-blogs-wrap">
                <div class="blog-excerpt" style="background-image: url(/images/blog1.jpg);">
                    <div>
                        <a href="//blog.goly.co/how-to-bring-innovation-to-your-small-business/"><h3>How To Grow Your
                            Small Business With Innovation</h3></a>
                        <a class="read-more-button"
                           href="//blog.goly.co/how-to-bring-innovation-to-your-small-business/">Read full article</a>
                    </div>
                </div>
                <div class="blog-excerpt" style="background-image: url(/images/blog2.jpg);">
                    <div>
                        <a href="//blog.goly.co/crowded-market-heres-how-to-carve-out-a-niche-for-your-business/"><h3>
                            Crowded Market? Here Is How To Stand Out From Other Businesses</h3></a>
                        <a class="read-more-button"
                           href="//blog.goly.co/crowded-market-heres-how-to-carve-out-a-niche-for-your-business/">Read
                            full article</a>
                    </div>
                </div>
                <div class="blog-excerpt" style="background-image: url(/images/blog3.jpg);">
                    <div>
                        <a href="//blog.goly.co/lonely-small-business-owner-networking-is-the-key-to-success/"><h3>
                            Lonely Small Business Owner? Networking is the Key to Success</h3></a>
                        <a class="read-more-button"
                           href="//blog.goly.co/lonely-small-business-owner-networking-is-the-key-to-success/">Read full
                            article</a>
                    </div>
                </div>
                <div class="blog-excerpt" style="background-image: url(/images/blog4.jpg);">
                    <div>
                        <a href="//blog.goly.co/how-to-manage-your-business-finances-better-and-make-more-money/"><h3>
                            How to Manage Your Business Finances Better and Make More Money</h3></a>
                        <a class="read-more-button"
                           href="//blog.goly.co/how-to-manage-your-business-finances-better-and-make-more-money/">Read
                            full article</a>
                    </div>
                </div>
                <div class="blog-excerpt" style="background-image: url(/images/blog5.jpg);">
                    <div>
                        <a href="//blog.goly.co/5-tips-on-how-to-get-more-customers-for-your-small-business/"><h3>These
                            5 tips will get more customers for your small business</h3></a>
                        <a class="read-more-button"
                           href="//blog.goly.co/5-tips-on-how-to-get-more-customers-for-your-small-business/">Read full
                            article</a>
                    </div>
                </div>
                <div class="blog-excerpt blog-excerpt-more">
                    <a class="button" href="//blog.goly.co">Read more</a>
                </div>
            </div>
        </div>

        <div class="sp-landing-testi-section" ng-init="selectedTestimonial = 1" ng-if="country == 'NG'">
            <div class="sp-landing-testi-text">
                <p>
                    <span class="first-quote-mark">“</span>
                    {{selectedTestimonial === 1 ? "Goly has been awesome for my business. I had so many offers I was
                    still delivering on Christmas day. Nicework.": ""}}
                    {{selectedTestimonial === 2 ? "Being on Goly, I am rest assured that prospective client in my
                    locality have easier access to us. Also, Goly’s accounting package makes payment tracking and
                    business records as easy as ABC.": ""}}
                    {{selectedTestimonial === 3 ? "Being on Goly helps to expand my business because customers have
                    easier access to us. It also makes payment easier, it goes straight to our account and now my
                    business can grow better.": ""}}
                    <span class="second-quote-mark">”</span>
                </p>
            </div>
            <div class="sp-landing-testi-users-wrap">
                <div class="testi-user" ng-class="{'selected-testi': selectedTestimonial == 1}"
                     ng-click="selectedTestimonial = 1">
                    <div class="testi-user-img" style="background-image: url(images/testimonial-1.png);">

                    </div>
                    <div class="testi-user-info">
                        <h3>Oladayo Akangbe</h3>
                        <p>
                            Clothing Entrepreneur
                        </p>
                    </div>
                </div>

                <div class="testi-user" ng-class="{'selected-testi': selectedTestimonial == 2}"
                     ng-click="selectedTestimonial = 2">
                    <div class="testi-user-img" style="background-image: url(images/testimonial-2.png);">

                    </div>
                    <div class="testi-user-info">
                        <h3>Laide Akande</h3>
                        <p>
                            Event Planner
                        </p>
                    </div>
                </div>

                <div class="testi-user" ng-class="{'selected-testi': selectedTestimonial == 3}"
                     ng-click="selectedTestimonial = 3">
                    <div class="testi-user-img" style="background-image: url(images/testimonial-3.png);">

                    </div>
                    <div class="testi-user-info">
                        <h3>Kemi Olatunde</h3>
                        <p>
                            Fashion designer
                        </p>
                    </div>
                </div>
            </div>

            <a class="get-started-button" href="/signup/register-user">
                <button>Get started</button>
            </a>
            <a href="/plus" class="sub-link" ng-if="signupLink">Achieve even more with Goly <i>Plus</i></a>
        </div>
        <div footer></div>
    </div>
</div>
